<div class="container">
    <h2>SignIn</h2>
    <form class="form-horizontal" #loginform="ngForm" (ngSubmit)="login()">
      <small>{{msg}}</small>
        <div class="form-group">
        <label class="control-label col-sm-2" for="email">Email:</label>
        <div class="col-sm-10">
          <input type="email" class="form-control"  placeholder="Enter email" name="email" [(ngModel)]="user.emailId">
        </div>
      </div><br>
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Password:</label>
        <div class="col-sm-10">          
          <input type="password" class="form-control" placeholder="Enter password" name="pwd" [(ngModel)]="user.password">
        </div>
      </div>
     <br>
      <div class="form-group">        
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-info" >login</button>
        </div>
      </div>
    </form>
  </div>
  